<div class="card">
    <div class="card-body p-b-0">
      <div class="form-body">
        <h2 class="card-title">Backups</h2>
        <hr class="m-t-0 m-b-40">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="control-label col-md-2"><h4>Tipo de Backup</h4></label>
              <div class="col-md-10">
                <select class="form-control custom-select" style="font-size: 14px"
                        data-placeholder="Choose a Category" tabindex="1">
                  <option value="1">Backup completo</option>
                  <option value="2">Backup graduados</option>
                  <option value="3">Backup empresas</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions">
          <button id="Gbackup1" type="submit" class="ufps-btn ufps-btn-green float-right">
           Generar Backup
          </button>
        </div>
        </div>
      </div>
    </div>