<div class="col-md-12">
  <div class="card">
    <div class="card-body p-b-0">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs customtab" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#cuenta" role="tab"><span
          class="hidden-sm-up"><i class="ti-home"></i></span> <span class="hidden-xs-down">Cuenta</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#personal" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down">Información Personal</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#academica" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span class="hidden-xs-down">Información Academica</span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#laboral" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down">Información Laboral</span></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="cuenta" role="tabpanel">
          <div class="p-20">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-body">
                        <h3 class="card-title">Información Basica</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="text-center"><img src="./assets/img/users/1.jpg" alt="user" class="img-circle"
                                                          width="100"/></div>
                          </div>
                          <div class="col-sm-12 text-center p-20">
                            <h3 class="font-medium">Eddy Johana Cristancho</h3>
                            <a data-toggle="modal" data-target="#cambiarfoto-modal" class="ufps-btn ufps-btn-light">Cambiar
                              Foto</a>
                          </div>
                          <div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Nombres</label>
                              <div class="col-md-10">
                                <input type="text" id="nombres" class="form-control" placeholder="Ejemplo">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Apellidos</label>
                              <div class="col-md-10">
                                <input type="text" id="apellidos" class="form-control" placeholder="Perez">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Email</label>
                              <div class="col-md-10">
                                <input type="text" id="email" class="form-control" placeholder="ejemplo@gmail.com">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Titulo</label>
                              <div class="col-md-10">
                                <input type="text" id="titulo" class="form-control" placeholder="Ingeniero de Sistemas">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Telefono</label>
                              <div class="col-md-10">
                                <input type="text" id="telefono" class="form-control" placeholder="58490000">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Celular</label>
                              <div class="col-md-10">
                                <input type="text" id="celular" class="form-control" placeholder="300000000">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Codigo</label>
                              <div class="col-md-10">
                                <input type="text" id="codigo" class="form-control" placeholder="1151000">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br><br>
                      <div class="form-body">
                        <h3 class="card-title">Biografia y Enlaces Externos</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Descripción:</label>
                              <div class="col-md-10">
                                <textarea class="form-control" rows="5"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Facebook</label>
                              <div class="col-md-10">
                                <input type="text" id="facebook" class="form-control" placeholder="Username">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Twitter</label>
                              <div class="col-md-10">
                                <input type="text" id="twitter" class="form-control" placeholder="Username">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Linkedin</label>
                              <div class="col-md-10">
                                <input type="text" id="linkedin" class="form-control" placeholder="Username">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Web Personal</label>
                              <div class="col-md-10">
                                <input type="text" id="personalgra" class="form-control" placeholder="Username">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-actions">
                          <button type="submit" class="ufps-btn ufps-btn-green float-right"><i class="fa fa-check"></i>
                            Actualizar
                          </button>
                          <br><br>
                        </div>
                      </div>
                      <br>
                      <div class="form-body">
                        <h3 class="card-title">Seguridad</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Contraseña</label>
                              <div class="col-md-10">
                                <input type="text" id="contraseña" class="form-control" placeholder="******">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Confirmar Contraseña</label>
                              <div class="col-md-10">
                                <input type="text" id="confcontraseña" class="form-control" placeholder="******">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br><br>
                      <div class="form-actions">
                        <button type="submit" class="ufps-btn ufps-btn-green float-right"><i class="fa fa-check"></i>
                          Cambiar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="personal" role="tabpanel">
          <div class="p-20">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-body">
                        <h3 class="card-title">Información Basica</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">País de Residencia</label>
                              <div class="col-md-10">
                                <select class="form-control custom-select" style="font-size: 14px"
                                        data-placeholder="Choose a Category"
                                        tabindex="1">
                                  <option value="noticia">Colombia</option>
                                  <option value="evento">Evento</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Departamento</label>
                              <div class="col-md-10">
                                <select class="form-control custom-select" style="font-size: 14px"
                                        data-placeholder="Choose a Category"
                                        tabindex="1">
                                  <option value="noticia">Norte de Santander</option>
                                  <option value="evento">Evento</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Ciudad</label>
                              <div class="col-md-10">
                                <select class="form-control custom-select" style="font-size: 14px"
                                        data-placeholder="Choose a Category"
                                        tabindex="1">
                                  <option value="noticia">Cúcuta</option>
                                  <option value="evento">Evento</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Dirección</label>
                              <div class="col-md-10">
                                <input type="text" id="direccion" class="form-control" placeholder="av 0 # 0 - 0">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Estado Civil</label>
                              <div class="col-md-10">
                                <select class="form-control custom-select" style="font-size: 14px"
                                        data-placeholder="Choose a Category"
                                        tabindex="1">
                                  <option value="casado">Soltero(a)</option>
                                  <option value="soltero">Casado(a)</option>
                                  <option value="Divorciado">Divorciado(a)</option>
                                  <option value="Union Libre">Union Libre(a)</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Hijos</label>
                              <div class="col-md-10">
                                <select class="form-control custom-select" style="font-size: 14px"
                                        data-placeholder="Choose a Category"
                                        tabindex="1">
                                  <option value="0">0</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                  <option value="4">4</option>
                                  <option value="5">5</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Contacto de Familiar</label>
                              <div class="col-md-10">
                                <input type="text" id="celfamiliar" class="form-control" placeholder="3024567500">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-actions">
                          <button type="submit" class="ufps-btn ufps-btn-green float-right"><i class="fa fa-check"></i>
                            Actualizar
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="academica" role="tabpanel">
          <div class="p-20">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-body">
                        <h3 class="card-title">Información Academica</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Nivel de Formación</label>
                              <div class="col-md-10">
                                <select class="form-control custom-select" style="font-size: 14px"
                                        data-placeholder="Choose a Category"
                                        tabindex="1">
                                  <option value="noticia">Profesional</option>
                                  <option value="evento">Evento</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Titulo Obtenido</label>
                              <div class="col-md-10">
                                <input type="text" id="titulobtenido" class="form-control"
                                       placeholder="Ingeniero de Sistemas">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2"> Area de Conocimiento</label>
                              <div class="col-md-10">
                                <input type="text" id="conocimiento" class="form-control"
                                       placeholder="Desarrollo de software">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Centro Educativo</label>
                              <div class="col-md-10">
                                <input type="text" id="centroeducatvo" class="form-control"
                                       placeholder="Universidad de Francico de Paula Santander">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Duración</label>
                              <div class="col-md-4">
                                <input type="text" id="duracion" class="form-control" placeholder="1 mes">
                              </div>
                              <label class="control-label text-left col-md-1">Fecha Fin</label>
                              <div class="col-md-5">
                                <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions">
                        <button type="submit" class="ufps-btn ufps-btn-green float-right"><i class="fa fa-check"></i>
                          Agregar
                        </button>
                      </div>
                      <br><br><br>
                    </form>
                    <div class="row">
                      <div class="col-md-12">
                        <ul class="list-unstyled">
                          <li class="media">
                            <div class="media-body">
                              <h2 class="mt-0"> Ingeniero de Sistemas</h2>
                              <h4>Universidad Francisco de Puala Santander</h4>
                              <h4>Profesional</h4>
                              <h4>Desarrollo de software </h4>
                              <h4>27/08/2015</h4>
                              <div class=" float-right">
                                <a data-toggle="modal" data-target="#editar-modal" class="ufps-btn ufps-btn-light">Editar</a>
                                <a data-toggle="modal" data-target="#eliminar-modal" class="ufps-btn text-white">Eliminar</a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="laboral" role="tabpanel">
          <div class="p-20">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-body">
                        <h3 class="card-title">Información Laboral</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Empresa</label>
                              <div class="col-md-10">
                                <input type="text" id="empresa" class="form-control" placeholder="Open International">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">País</label>
                              <div class="col-md-10">
                                <select class="form-control custom-select" style="font-size: 14px"
                                        data-placeholder="Choose a Category"
                                        tabindex="1">
                                  <option value="noticia">Colombia</option>
                                  <option value="evento">Evento</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Departamento</label>
                              <div class="col-md-10">
                                <select class="form-control custom-select" style="font-size: 14px"
                                        data-placeholder="Choose a Category"
                                        tabindex="1">
                                  <option value="noticia">Norte de Santander</option>
                                  <option value="evento">Evento</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Cargo</label>
                              <div class="col-md-10">
                                <input type="text" id="cargo" class="form-control"
                                       placeholder="Desarrollo de software">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Area</label>
                              <div class="col-md-10">
                                <select class="form-control custom-select" style="font-size: 14px"
                                        data-placeholder="Choose a Category"
                                        tabindex="1">
                                  <option value="noticia">Investigación y Desarrollo</option>
                                  <option value="evento">Evento</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Fecha Inicio</label>
                              <div class="col-md-3">
                                <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                              </div>
                              <label class="control-label text-left col-md-2">Fecha Fin</label>
                              <div class="col-md-3">
                                <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                              </div>
                              <div class="col-md-3">
                                <div class="form-group">
                                  <div class="form-check">
                                    <label class="custom-control custom-radio">
                                      <input id="radio1" name="radio" type="radio" checked class="custom-control-input">
                                      <span class="custom-control-indicator"></span>
                                      <span class="custom-control-description">Actualmente</span>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-actions">
                        <button type="submit" class="ufps-btn ufps-btn-green float-right"><i class="fa fa-check"></i>
                          Actualizar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="editar-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Editar Oferta Laboral</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body">
        <form action="#">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="control-label text-left col-md-3">Nivel de Formación</label>
                <div class="col-md-9">
                  <select class="form-control custom-select" style="font-size: 14px"
                          data-placeholder="Choose a Category"
                          tabindex="1">
                    <option value="noticia">Profesional</option>
                    <option value="evento">Evento</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="control-label text-left col-md-3">Titulo Obtenido</label>
                <div class="col-md-9">
                  <input type="text" id="edititulobtenido" class="form-control"
                         placeholder="Ingeniero de Sistemas">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="control-label text-left col-md-3"> Area de Conocimiento</label>
                <div class="col-md-9">
                  <input type="text" id="edirconocimiento" class="form-control"
                         placeholder="Desarrollo de software">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="control-label text-left col-md-3">Centro Educativo</label>
                <div class="col-md-9">
                  <input type="text" id="editcentroeducatvo" class="form-control"
                         placeholder="Universidad de Francico de Paula Santander">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="control-label text-left col-md-3">Duración</label>
                <div class="col-md-9">
                  <input type="text" id="editduracion" class="form-control" placeholder="1 mes">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="control-label text-left col-md-3">Fecha Fin</label>
                <div class="col-md-9">
                  <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade bs-example-modal-sm" id="eliminar-modal" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="mySmallModalLabel">Eliminar Información Academica</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      </div>
      <div class="modal-body"> Esta seguro de eliminar la Información Academica</div>
      <div class="modal-footer">
        <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
        <button type="button" class="ufps-btn ufps-btn-green waves-effect waves-light">Aceptar</button>
      </div>
    </div>
  </div>
</div>
