<div id="intro" class="bg-image shadow-2-strong">
  <div class="mask d-flex align-items-center h-100">
    <div class="container">
      <div class="row justify-content-center align-items-center minh-100">
        <div class="col-sm-5">
          <div class="card">
            <div class="card-header ufps-text-center bg-danger">
              <h1 class="text-white"> REGISTRO DE EMPRESA </h1>
            </div>
            <form>
              <div class="card-body">
                <div class=" form-group">
                  <label class=" lead ">Nombre<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="nombre" required
                         data-validation-required-message="This field is required">
                </div>
                <div class="form-group">
                  <label for="nit" class="lead">Nit<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="nit" required
                         data-validation-required-message="This field is required">
                </div>
                <div class="form-group">
                  <label for="sector" class="lead">Sector<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="sector" required
                         data-validation-required-message="This field is required">
                </div>
                <div class="form-group">
                  <label for="razonsocial" class="lead">Razón Social<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="razonsocial" required
                         data-validation-required-message="This field is required">
                </div>
                <div class="form-group">
                  <label for="ubicacion" class="lead">Ubicación<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="ubicacion" required
                         data-validation-required-message="This field is required">
                </div>
                <div class="form-group">
                  <label for="email" class="lead">Email<span class="text-danger">*</span></label>
                  <input type="email" class="form-control form-control-lg" id="email" required
                         data-validation-required-message="This field is required">
                </div>
                <div class="form-group">
                  <label for="celular" class="lead">Celular<span class="text-danger">*</span></label>
                  <input type="text" class="form-control form-control-lg" id="celular" required
                         data-validation-required-message="This field is required">
                </div>
                <div class="form-group">
                  <label for="contraseña" class="lead">Contraseña<span class="text-danger">*</span></label>
                  <input type="password" class="form-control form-control-lg" id="contraseña" required
                         data-validation-required-message="This field is required">
                </div>
                <div class="form-group">
                  <label for="confcontraseña" class="lead">Confirmar Contraseña<span
                    class="text-danger">*</span></label>
                  <input type="password" class="form-control form-control-lg" id="confcontraseña" required
                         data-validation-required-message="This field is required">
                </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-danger btn-lg btn-block">Aceptar</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


