<!-- Topbar header - style you can find in pages.scss -->
<header class="topbar d-md-block">
  <nav class="navbar top-navbar navbar-expand-md ufps-navbar-dark">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="informacion">
        <span>
        <img   src="./assets/img/Logo-gradulab.png" alt="homepage" class="dark-logo"/></span> </a>
    </div>
    <div class="navbar-collapse ">
      <ul class="navbar-nav mr-auto">
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item dropdown ">
          <a routerLink="login" class="nav-link dropdown-toggle waves-effect waves-dark text-white" data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user "></i> Iniciar Sesion</a>
        </li>

        <li class="nav-item dropdown ">
          <a routerLink="registrograduado" class="nav-link dropdown-toggle waves-effect waves-dark text-white "
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"> <i class="fa fa-graduation-cap"></i> Registro
            Graduado</a>
        </li>

        <li class="nav-item dropdown ">
          <a routerLink="registroempresa" class="nav-link dropdown-toggle waves-effect waves-dark text-white"
             data-toggle="dropdown"
             aria-haspopup="true" aria-expanded="false"> <i class="fa fa-briefcase"></i> Registro Empresa</a>
        </li>

        <div class="ufps-navbar-corporate">
          <img src="../../../assets/img/logo_ingsistemas.png" alt="Logo ingeniería de sistemas">
        </div>
      </ul>
    </div>
  </nav>
</header>

