<div class="col-md-12">
  <div class="card">
    <div class="card-body p-b-0">
      <div class="tab-content">
        <div class="tab-pane active" role="tabpanel">
          <div class="p-20">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-body">
                        <h3 class="card-title">Información</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="text-center"><img src="./assets/img/users/1.jpg" alt="user" class="img-circle"
                                                          width="100"/></div>
                          </div>
                          <div class="col-sm-12 text-center p-20">
                            <h3 class="font-medium">Nombre de la empresa</h3>
                            <a data-toggle="modal" data-target="#cambiarfoto-modal" class="ufps-btn ufps-btn-light">Cambiar
                              Foto</a>
                          </div>
                          <div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Nombres</label>
                              <div class="col-md-10">
                                <input type="text" id="nombres" class="form-control" placeholder="Ejemplo">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Nit</label>
                              <div class="col-md-10">
                                <input type="text" id="nit" class="form-control" placeholder="1092346343">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Sector</label>
                              <div class="col-md-10">
                                <input type="text" id="sector" class="form-control" placeholder="Salud">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Ubicación</label>
                              <div class="col-md-10">
                                <input type="text" id="ubicacion" class="form-control" placeholder="Bogotá">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Razón Social</label>
                              <div class="col-md-10">
                                <input type="text" id="razonsocial" class="form-control" placeholder="">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Teléfono</label>
                              <div class="col-md-10">
                                <input type="text" id="telefono" class="form-control" placeholder="300000000">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Email</label>
                              <div class="col-md-10">
                                <input type="email" id="email" class="form-control" placeholder="ejemplo@emp.com">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br><br>
                      <div class="form-body">
                        <h3 class="card-title">Información Opcional</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Descripción Empresa:</label>
                              <div class="col-md-10">
                                <textarea class="form-control" rows="5"></textarea>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Facebook</label>
                              <div class="col-md-10">
                                <input type="text" id="facebook" class="form-control" placeholder="Username">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Twitter</label>
                              <div class="col-md-10">
                                <input type="text" id="twitter" class="form-control" placeholder="Username">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Linkedin</label>
                              <div class="col-md-10">
                                <input type="text" id="linkedin" class="form-control" placeholder="Username">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Web Personal</label>
                              <div class="col-md-10">
                                <input type="text" id="personalgra" class="form-control" placeholder="Username">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-actions">
                          <button type="submit" class="ufps-btn ufps-btn-green float-right"><i class="fa fa-check"></i>
                            Actualizar
                          </button>
                          <br><br>
                        </div>
                      </div>
                      <br>
                      <div class="form-body">
                        <h3 class="card-title">Seguridad</h3>
                        <hr class="m-t-0 m-b-40">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Contraseña</label>
                              <div class="col-md-10">
                                <input type="text" id="contraseña" class="form-control" placeholder="******">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="control-label text-left col-md-2">Confirmar Contraseña</label>
                              <div class="col-md-10">
                                <input type="text" id="confcontraseña" class="form-control" placeholder="******">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <br><br>
                      <div class="form-actions">
                        <button type="submit" class="ufps-btn ufps-btn-green float-right"><i class="fa fa-check"></i>
                          Cambiar
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

