.kk{
  color: #070707;
  font-size: 22px;
  position: absolute;
  left: 45px;
  padding-top: 10px;
}


.comosea{
  padding-left: 80px;
  height: 29px;
  width: 200px;
  border-radius: 3em;
  min-width: 50px;
}

