<div class="col-md-12">
  <div class="card">
    <div class="card-body p-b-0">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs customtab" role="tablist">
        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#solictudregistro" role="tab"><span
          class="hidden-sm-up"><i class="ti-home"></i></span> <span
          class="hidden-xs-down"><h3>Solicitud de registro</h3></span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#solictudcambiousuario" role="tab"><span
          class="hidden-sm-up"><i class="ti-home"></i></span> <span
          class="hidden-xs-down"><h3>Solicitud Cambio de Usuario</h3></span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#cargainfo" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down"><h3>Cargar información</h3></span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#infograduado" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down"><h3>Información del graduado</h3></span></a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#notificaciones" role="tab"><span
          class="hidden-sm-up"><i class="ti-user"></i></span> <span
          class="hidden-xs-down"><h3>Enviar Notificaciones</h3></span></a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active " id="solictudregistro" role="tabpanel">
          <div class="p-20">
            <div class="row">
              <div class="col-md-12 p-20">
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="media-body">
                      <div class="d-flex flex-row comment-row">
                        <div>
                          <h2> Yisel Pineda Suescun</h2>
                        </div>
                      </div>
                      <div class="form-actions float-right">
                        <button class="ufps-btn">Rechazar</button>
                        <button class="ufps-btn ufps-btn-green ">Aceptar</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane " id="solictudcambiousuario" role="tabpanel">
          <div class="p-20">
            <div class="row">
              <div class="col-md-12 p-20">
                <ul class="list-unstyled">
                  <li class="media">
                    <div class="media-body">
                      <div class="d-flex flex-row comment-row">
                        <div>
                          <h2>Yisel Pineda Suescun</h2>
                          <h5>Correo: YiselPineda@gmail.com</h5>
                        </div>
                      </div>
                      <div class="form-actions float-right">
                        <button class="ufps-btn ufps-btn-green ">Cambiar</button>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane  p-20" id="cargainfo" role="tabpanel">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-body">
                        <h3 class="card-title">Cargar Lista de Graduados</h3>
                        <hr>
                        <div class="row p-t-20">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <div class="col-md-9">
                                <input type="file" class="form-control" id="exampleInputFile"
                                       aria-describedby="fileHelp">
                                <br>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <div class="form-check">
                                      <label class="custom-control custom-radio">
                                        <input id="radio1" name="radio" type="radio" checked
                                               class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description"><h5>Proximos a Graduarse</h5></span>
                                      </label>
                                      <label class="custom-control custom-radio">
                                        <input id="radio2" name="radio" type="radio" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description"><h5>Graduados</h5></span>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="form-actions col-md-3">
                                <button type="submit" class="ufps-btn ufps-btn-green float-right"><i
                                  class="fa fa-check"></i>
                                  Cargar
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane  p-20" id="infograduado" role="tabpanel">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-10">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Buscar por nombre">
                </div>
              </div>
              <div class="col-md-2">
                <a href="#" class="ufps-btn ufps-btn-green">Buscar</a>
              </div>
            </div>
            <div class="col-md-12 p-20">
              <ul class="list-unstyled">
                <li class="media">
                  <div class="media-body">
                    <div class="d-flex flex-row comment-row">
                      <div class="comment-text w-100">
                        <div class="comment-footer">
                          <h2>Yisel Pineda Suescun</h2>
                        </div>
                        <h5 class="m-b-5 m-t-10">Email: Yiselpinedasuecun@gmail.com</h5>
                        <h5>Revisar que mas información se va a gregar acá</h5>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-pane  p-20" id="notificaciones" role="tabpanel">
          <div class="col-md-12">
            <div class="row">
              <div class="col-lg-12">
                <div class="card">
                  <div class="card-body">
                    <form>
                      <div class="form-body">
                        <h3 class="card-title">Enviar Notificaciones Masivas</h3>
                        <hr>
                        <div class="row p-t-20">
                          <div class="col-md-12">
                              <div class="form-group row">
                                <label class="control-label text-left col-md-2"><h5>Asunto:</h5></label>
                                <div class="col-md-10">
                                  <input type="text" id="asunto" class="form-control" placeholder="Escriba su asunto"  required data-validation-required-message="This field is required">
                                </div>
                            </div>
                          </div>
                            <div class="col-md-12">
                              <div class="form-group row">
                                <label class="control-label text-left col-md-2"  placeholder="Escriba su mensaje"><h5>Mensaje:</h5></label>
                                <div class="col-md-10">
                                  <textarea class="form-control" rows="5"></textarea>
                                </div>
                              </div>
                            </div>
                          </div>
                        <div class="form-group row float-right">
                          <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
                          <button type="button" class="ufps-btn ufps-btn-green">Enviar</button>
                        </div>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<div class="container">-->
  <!--inicio Container -->
  <!--Titulo de las tabs inicio -->
<!-- <div class="ufps-tab-container" id="tabs">
   <ul class="ufps-tabs">
     <li><a class="ufps-tab-links ufps-tab-active" onclick="openTab(event, 'tab1', 'tabs')">Solicitud de registro</a>
     </li>
     <li><a class="ufps-tab-links" onclick="openTab(event, 'tab2', 'tabs')">Cargar información</a></li>
     <li><a class="ufps-tab-links" onclick="openTab(event, 'tab3', 'tabs')">Información del graduado</a></li>
     <li><a class="ufps-tab-links" onclick="openTab(event, 'tab4', 'tabs')">Enviar Notificaciones</a></li>
   </ul>-->
   <!--Titulo de las tabs fin-->

    <!-- Contenido de las tabs -->
<!--  <div id="tab1" class="ufps-tab-content" style="display: block;">
    <div class="ufps-row">
      <div class="ufps-col-mobile-12 ufps-col-tablet-6 ">
        <div class="form-group" style=" padding: 5px;">
          <h1>Solicitudes de Registro</h1>
        </div>
        <div class="ufps-card">
          <div class="ufps-card-caption">
            <p>Nombre: Yisel Pineda</p>
            <p>Usuario: Graduado</p>
            <button class="ufps-btn">Rechazar</button>
            <button class="ufps-btn ufps-btn-green ">Aceptar</button>
          </div>
        </div>
        <br>

      </div>
    </div>
  </div>
  <div id="tab2" class="ufps-tab-content">
    <div class="form-group" style=" padding: 5px;">
      <h1>Cargar listado de Graduados</h1>
    </div>
    <div class="ufps-row">
      <div class="ufps-col-mobile-12 ufps-col-tablet-6 ">
        <div class="ufps-card" style="border-radius: 1em; padding: 20px;">
          <div>
            <input type="file" id="cargarexcel" accept=".xlsx" placeholder="Direccion del archivo a cargar">
            <button class="ufps-btn ufps-btn-green ">Cargar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="tab3" class="ufps-tab-content">
    <div class="form-group" style=" padding: 10px;">
      <h1>Buscar Graduado</h1>
    </div>
    <div class="ufps-row">
      <div class="ufps-col-mobile-12  ">
        <div class="ufps-card" style=" padding: 20px;">
          <div>
            <span class="kk"><i class="fas fa-search"></i></span> -->
            <!-- AQUI HAY ESTILOS A PARTE -->
<!--   <input type="search" placeholder="nombre" class="comosea">-->
  <!-- AQUI HAY ESTILOS A PARTE -->
<!--       <button class="ufps-btn ufps-btn-green ">Buscar</button>
   </div>
 </div>
</div>
</div>

<div class="ufps-row" style=" margin-top: 10px;">
<div class="ufps-col-mobile-12 ">
 <div class="ufps-card" style=" padding: 20px;">
   <div class="ufps-card" style=" padding: 20px;">
     <h1>Yisel Pineda</h1>

   </div>
 </div>
 <div class="ufps-card" style=" padding: 20px;">
   <div class="ufps-card" style=" padding: 20px;">
     <h1>Javier Numa</h1>
   </div>
 </div>
 <div class="ufps-card" style=" padding: 20px;">
   <div class="ufps-card" style=" padding: 20px;">
     <h1>Johana Cristancho</h1>
   </div>
 </div>
 <div class="ufps-pagination">
   <a href="#" class="ufps-btn ufps-btn-light">Anterior</a>
   <a href="#" class="ufps-btn ufps-btn-light">1</a>
   <a href="#" class="ufps-btn ufps-btn-light">2</a>
   <a href="#" class="ufps-btn ufps-btn-light">3</a>
   <a href="#" class="ufps-btn ufps-btn-light">Siguiente</a>
 </div>
</div>
</div>
</div>

<div id="tab4" class="ufps-tab-content">
<div class="form-group" style=" padding: 10px;">
<h1>Enviar Notificaciones Masivas</h1>
</div>
<div class="ufps-row">
<div class="ufps-col-mobile-12  ">
 <div class="ufps-card" style=" padding: 20px;">
   <div class="form-group">
     <label for="asunto" class="lead">Asunto:</label>
     <input type="text" placeholder="Escriba su asunto" class="form-control form-control-lg" id="asnt">
   </div>
   <div class="form-group">
     <label for="msaje" class="lead">Mensaje:</label>
     <input type="text" placeholder="Escriba su mensaje" class="form-control form-control-lg" id="msj">
   </div>
   <div class="form-group">
     <button type="button" class="ufps-btn" data-dismiss="modal">Cancelar</button>
     <button type="button" class="ufps-btn ufps-btn-green">Enviar</button>
   </div>
 </div>
</div>
</div>
</div>
</div>-->

<!--fin Contenido de las tabs -->
<!--</div>-->
<!--fin Container -->
