<footer class="footer ufps-footer-dark" id="footer">
  <div class="container center-block">
      <div><h4 class="text-white">Programa Ingeniería de Sistemas</h4></div>
      <div><h4 class="text-white">Universidad Francisco de Paula Santander</h4></div>
      <div><h4 class="text-white">&copy; 2021</h4></div>
      <div>
        <a id="f" href="https://www.facebook.com/Ufps.edu.co/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        <a id="i" href="https://www.instagram.com/ufpscucuta/?hl=es-la" target="_blank"><i class="fab fa-instagram"></i></a>
        <a id="y" href="https://www.youtube.com/channel/UCgPz-qqaAk4lbHfr0XH3k2g" target="_blank"><i class="fab fa-youtube"></i></a>
        <a id="pg" href="https://ww2.ufps.edu.co/" target="_blank"><i class="fas fa-globe"></i></a>
      </div>
  </div>
</footer>
