<div class="p-20">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="form-body">
              <h2 class="card-title text-center">Detalle Oferta Laboral</h2>
              <hr>
              <div class="row">
                <div class="col-md-12 p-20">
                  <h2 class="card-title">Descripción de la Oferta</h2>
                  <ul class="list-unstyled">
                    <li class="media border rounded-sm">
                      <div class="media-body">
                        <div class="d-flex flex-row comment-row">
                          <div class="comment-text w-100">
                            <p class="m-b-5 m-t-10"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                              temporibus officiis sequi deserunt quisquam nobis veritatis dignissimos omnis
                              consequuntur, incidunt fugiat. Molestiae, voluptatibus impedit praesentium voluptatem
                              placeat ratione voluptates iure.
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut temporibus officiis sequi
                              deserunt quisquam nobis veritatis dignissimos omnis consequuntur, incidunt fugiat.
                              Molestiae, voluptatibus impedit praesentium voluptatem placeat ratione voluptates iure.
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut temporibus officiis sequi
                              deserunt quisquam nobis veritatis dignissimos omnis consequuntur, incidunt fugiat.
                              Molestiae, voluptatibus impedit praesentium voluptatem placeat ratione voluptates
                              iure.</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-md-12 p-20">
                  <h2 class="card-title">Requisitos</h2>
                  <ul class="list-unstyled">
                    <li class="media">
                      <div class="media-body">
                        <div class="d-flex flex-row comment-row">
                          <div class="comment-text w-100">
                            <p class="m-b-5 m-t-10"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut
                              temporibus officiis sequi deserunt quisquam nobis veritatis dignissimos omnis
                              consequuntur, incidunt fugiat. Molestiae, voluptatibus impedit praesentium voluptatem
                              placeat ratione voluptates iure.
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut temporibus officiis sequi
                              deserunt quisquam nobis veritatis dignissimos omnis consequuntur, incidunt fugiat.
                              Molestiae, voluptatibus impedit praesentium voluptatem placeat ratione voluptates iure.
                              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut temporibus officiis sequi
                              deserunt quisquam nobis veritatis dignissimos omnis consequuntur, incidunt fugiat.
                              Molestiae, voluptatibus impedit praesentium voluptatem placeat ratione voluptates
                              iure.</p>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group row">
                <label class="control-label text-left col-md-2">Cargar Hoja de Vida</label>
                <div class="col-md-10">
                  <input type="file" class="form-control" id="exampleInputFile" aria-describedby="fileHelp">
                </div>
              </div>
            </div>
            <div class="float-right">
            <button class="ufps-btn ">Atras</button>
            <button id="Cargar" class="ufps-btn ufps-btn-green">Aplicar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container" style="width: 700px;">
  <div class="ufps-row">
    <h1>Detalle Oferta Laboral</h1>
  </div>

  <div class="ufps-row">
    <div class="ufps-col-mobile-12 ufps-col-tablet-6 ">
      <h1>Descripción de la Oferta</h1>
      <div class="ufps-card" style="height: 500px; width: 600px; border-radius: 2em; padding: 10px;">
        <div class="ufps-card-caption">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut temporibus officiis sequi deserunt quisquam nobis
          veritatis dignissimos omnis consequuntur, incidunt fugiat. Molestiae, voluptatibus impedit praesentium
          voluptatem placeat ratione voluptates iure.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut temporibus officiis sequi deserunt quisquam nobis
          veritatis dignissimos omnis consequuntur, incidunt fugiat. Molestiae, voluptatibus impedit praesentium
          voluptatem placeat ratione voluptates iure.
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut temporibus officiis sequi deserunt quisquam nobis
          veritatis dignissimos omnis consequuntur, incidunt fugiat. Molestiae, voluptatibus impedit praesentium
          voluptatem placeat ratione voluptates iure.
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="ufps-row">
    <div class="ufps-col-mobile-12 ufps-col-tablet-6 ">
      <h1>Requisitos</h1>
      <div class="ufps-card" style="height: 500px; width: 600px; border-radius: 2em; padding: 10px;">
        <div class="ufps-card-caption">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ut temporibus officiis sequi deserunt quisquam nobis
          veritatis dignissimos omnis consequuntur, incidunt fugiat. Molestiae, voluptatibus impedit praesentium
          voluptatem placeat ratione voluptates iure.
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum rem molestiae maxime atque architecto
          provident amet voluptatibus odit accusantium dolorem eligendi, repudiandae eum ab porro id impedit, assumenda
          velit. Exercitationem.
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates doloribus deserunt, quis cupiditate ad id
          similique ab vel, ipsum officia, neque eum quisquam. Quo delectus voluptatum alias similique pariatur neque.
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="ufps-row" name>
    <div class="ufps-col-mobile-12 ufps-col-tablet-6">
      <h3>Carga tu hoja de vida:</h3>
    </div>
    <div class="ufps-col-mobile-12 ufps-col-tablet-6">
      <input type="file" id="cargarhv" accept=".pdf" required onchange="validar()" style="margin-left: 20px;"
             placeholder="Direccion del archivo a cargar">
    </div>

    <div class="ufps-col"> -->
      <!--<script type='text/javascript'>
      function validar() {
        // Obtener nombre de archivo
        let archivo = document.getElementById('cargarhv').value,
          // Obtener extensión del archivo
          extension = archivo.substring(archivo.lastIndexOf('.'),archivo.length);
        // Si la extensión obtenida no está incluida en la lista de valores del atributo "accept", mostrar un error.
        if(document.getElementById('cargarhv').getAttribute('accept').split(',').indexOf(extension) < 0) {
          alert('Archivo inválido. No se permite la extensión ' + extension);
        }
      }
    </script>
    -->
<!--  <button class="ufps-btn" style="margin-left: 505px;">Atras</button>
  <button id="buttonCargar" class="ufps-btn ufps-btn-green">Aplicar</button>
</div>
</div>
</div>--> <!--fin Container -->
